html, body {
	margin: 0;
	background-color: #202429;
	font-family: 'Comic Sans MS', Tahoma, Geneva, sans-serif;
	max-width: 1300px;
	margin: 0 auto;
}
h1 {
	margin: 0em 2em;
	padding-top: 0.7em;
	float: right;
	color: #E4E6E5;
	font-family: 'Algerian';
	text-align:center;
	font-size: 1.5em;
	background-color: #353A3F;
	height: 100px;
	width: 250px;
}
.header{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 2em;
}
.container {
	float: left;
}
img.nav-image {
	position: relative;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: .5s all;
	z-index: 10;
}
ul.nav-menu {
	list-style: none;
	display: none;
	position: absolute;
	left: 2.5%;
	top: 0;
}
ul.nav-menu li {
	display: inline-block;
	width: 100px;
	height: 63px;
	background-color: #353A3F;
	padding: 1.5em 0;
	text-align: center;
}
ul.nav-menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	transition: .5s all;
	-webkit-transition: .5s all;
}
ul.nav-menu li a:hover {
	color: #C05151;
}
.clear-fix {
	clear: both;
}
.articles div.article, .aboutme, .explore {
	margin: 2em 1.2em;
	border: 1px solid #FFFFFF;
	border-radius: 7px;
	font-family: Calibri;
	font-size: 18px;
}
div.articles h2 {
	color: #C05151;
	font-size: 36px;
	margin-left: 0.8em;
}
div.articles h3 {
	color: #CCFF99;
	font-size: 26px;
	margin-left: 1.1em;
}
div.articles p {
	margin: 0.5em 0.5em 0.5em 1.7em;
	color: #FFFFFF;
}
div.articles a {
	color: #006699;
	text-decoration: none;
}
.left-pos {
	float: left;
	margin: 0em 1em;
}
.display-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}
ol.arabic {
	margin-left: 2.5em;	
	display: block;
	color: #FFFFFF;
	line-height: 1.5em;
}
.download {
	width: 60px;
	height: 15px;
	border: 1px solid #006699;;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	margin: 2em;
	cursor: pointer;
	text-decoration: none;
}
.download:hover {
	background-color: #006699;
	color: #353A3F;
	text-decoration: none;
}

input[type=range] {
	width: 20%;
	display: inline;
}
input[type=range]:foucs {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.1s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #006699;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #006699;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #006699;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #006699;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #006699;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #006699;
}
input[type=range]:focus::-ms-fill-upper {
  background: #006699;
}

table.unstyled-table {
	margin: 2em 2em;
	width: 90%;
	border-collapse: separate;
}
table.unstyled-table td {
	color: #FFFFFF;
	height: 10px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
}
div.preview-panel {
	position: relative;
	width: 600px;
	height: 400px;
	border: 1px solid #FFFFFF;
	margin: auto;
	border-radius: 5px;
	background: #D1FFFF;
}
.border-radius {
	margin: 5em auto;
	width: 400px;
	height: 200px;
	background: #FFCC66;
	border: 2px solid #006699;
}
.article .preview-panel .border-radius p {
	text-align: center;
	padding: 65px;
	color: #800000;
	font-weight: 600;
}
.css-panel {
	margin: 1em auto;
	width: 600px;
	height: 150px;
	background: #D1FFFF;
	border-radius: 5px;
}
.article .css-panel p {
	padding-top: 1em;
	line-height: 0.5em;
	color: #000000;
	text-align: left;
}
.back-to-top {
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: #C05151;
}

.back-to-top i {
  font-size: 50px;
}
.highlight {
	background: #C05151;
}
/* Memory Game Article Styles -- Start*/
.articles .article .card-holder {
	margin-left: 8em;
	width: 40%;
}
.articles .article .card {
	position: relative;
	display: inline-block;
	background: #C05151;
	width: 40px;
	height: 50px;
	border: 1px solid #000000;
	border-radius: 6px;
	cursor: pointer;
}
.articles .article .card img {
	position: relative;
	top: 25%;
	left: 20%;
	vertical-align: middle;
	display: none;
}
.articles .article .card img.visible {
	position: relative;
	top: 25%;
	left: 20%;
	vertical-align: middle;
	display: block;
}
.articles .article .rotate {
	background: #ffffff;
}
.articles .article .score-board {
	margin-top: 1em;
	margin-left: 8em;
	margin-bottom: 1em;
	width: 20%;
	height: 50px;
	border: 1px solid #66BE91;
}
/* Memory Game Article Styles -- End*/

.explore .articles div.js-coding {
	width: 800px;
	min-height: 150px;
	margin-left: 12em;
	margin-bottom: 0.5em;
	border: 1px solid #FFFFFF;
	background: #272822;
	border-radius: 10px;
}
pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	background: transparent;
	border: transparent;
	color: #F8F8F2;
}
.explore .articles p.heading {
	font-size: 1.1em;
	font-weight: 800;
	color: #CCFFCC;
}
.code-blue {
	color: #66D9EF;
}
.func-color {
	color: #A6E22E;
}
.op-color {
	color: #F92659;
}
.arg-color {
	color: #FD971F;
}
.num-color {
	color: #AE81BC;
}
.arg2-color {
	color: #E6DB74;
}
.cmd-color {
	color: #75715E
}
.css-color {
	color: #AE81DD}
}
pre {
	white-space: pre;
	background: transparent;
	border: transparent;
	color: white;
	line-height: 1em;
}
.articles .article blockquote {
	margin: 0 auto;
}
.articles .article blockquote p {
	font-style: italic;
	font: "Bookman Old Style";
}
.articles .article .html-markup,  .articles .article .css-markup {
	line-height: 1em;
	margin: 1em auto;
	width: 800px;
	min-height: 150px;
	background: #272822;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.articles .article .html-markup p,  .articles .article .css-markup p {
	color: white;
	font-size: 1.1em;
}
.myButton {
	background: #000000;
	border-radius: 10px;
	width: 50px;
	box-shadow: 5px 5px 5px #000000;
}
